code/node-red_flow.json
[{"id":"71ea212f.26619","type":"mqtt in","z":"807d6ec8.49078","name":"/home/meteo/wind","topic":"/home/meteo/anemometer/wind_speed","qos":"0","datatype":"auto","broker":"2dfe1747.bcf7a8","x":130,"y":420,"wires":[["38b38ef7.cff6d2"]]},{"id":"607d24d2.d43d9c","type":"ui_gauge","z":"807d6ec8.49078","name":"","group":"a263be61.d9748","order":1,"width":"3","height":"4","gtype":"gage","title":"","label":"km/h","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":420,"wires":[]},{"id":"d97c5bd6.9b15f8","type":"ui_chart","z":"807d6ec8.49078","name":"","group":"a263be61.d9748","order":2,"width":"6","height":"4","label":"Speed Km/h","chartType":"line","legend":"false","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#00db00","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":460,"wires":[[],[]]},{"id":"c791f1e7.2a03a","type":"http request","z":"807d6ec8.49078","name":"Request to IFTTT Carlos","method":"GET","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/DOMOHOME/with/key/?¿?value1={{{payload}}}","tls":"","proxy":"","authType":"","x":1230,"y":380,"wires":[[]]},{"id":"38b38ef7.cff6d2","type":"function","z":"807d6ec8.49078","name":"m/s to km/h","func":"msg.payload = Number(msg.payload) * 3.6;\nmsg.payload = msg.payload.toString();\nmsg.payload = parseFloat(msg.payload).toFixed(2);\nmsg.payload = Number(msg.payload);\nreturn [msg];","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["607d24d2.d43d9c","d97c5bd6.9b15f8","7931d4ac.50580c","4142521a.bb0e7c","339d6bb0.62e1e4"]]},{"id":"7931d4ac.50580c","type":"template","z":"807d6ec8.49078","name":"Format data open","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `wind`(`speed`) VALUES ({{payload}})","output":"str","x":370,"y":500,"wires":[["fdf246c0.729af8"]]},{"id":"fdf246c0.729af8","type":"mysql","z":"807d6ec8.49078","mydb":"3e350687.8d9b6a","name":"measurements","x":700,"y":500,"wires":[[]]},{"id":"4142521a.bb0e7c","type":"function","z":"807d6ec8.49078","name":"store wind_speed","func":"global.set('wind_speed',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[[]]},{"id":"95dad6c2.6a3478","type":"function","z":"807d6ec8.49078","name":"Compose payload message","func":"msg.payload = \"!Wind \"+ msg.payload + \" km/h ALERT\";\nreturn [msg];","outputs":1,"noerr":0,"x":940,"y":380,"wires":[["c791f1e7.2a03a"]],"outputLabels":["Sunset"]},{"id":"339d6bb0.62e1e4","type":"switch","z":"807d6ec8.49078","name":">= 50 km/h","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":380,"wires":[["95dad6c2.6a3478"]]},{"id":"2dfe1747.bcf7a8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a263be61.d9748","type":"ui_group","z":"","name":"Wind","tab":"1f79ac4f.b03aa4","order":3,"disp":true,"width":"9","collapse":true},{"id":"3e350687.8d9b6a","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"measurements","tz":""},{"id":"1f79ac4f.b03aa4","type":"ui_tab","z":"","name":"Meteo","icon":"wi-wu-partlycloudy","order":2,"disabled":false,"hidden":false}]